@import "../../Assets/styles/variables";

.experience {
    width: 100%;
    overflow-x: hidden;
    object-fit: contain;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__content-marquee {
        display: flex;
        width: 100%;
        overflow-x: hidden;
    }
}

// .skillBox {
//     width: 100px;
//     height: 100px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     gap: 10px;
//     margin-left: 1rem;

//     &-image {
//         width: 60px;
//         height: 50px;
//         background-repeat: no-repeat;
//         background-size: contain;
//     }
// }
// .skillBox{
//     width: 100px;
//     height: 100px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     gap: 10px;
//     margin-left: 1rem;
// }

// .skillBox-image{
//     width: 60px;
//     height: 50px;
//     background-repeat: no-repeat;
//     background-size: contain;
// }

.experience {
    
    &__content {
        display: flex;
        align-items: center;
        justify-content: center; 
        width: 100%;
        margin-top: 1.5rem;
        // padding: 0 2rem;
    }

    &__content-marquee {
        width: 100%;
        // margin: 0 2rem;
    }
}

.skillBox {
    background: #FAFAFA;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    width: 90px;
    height: 90px;
    margin: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    transition: 300ms ease-in-out;
    // background-color: $secondary-color;
    box-shadow: 0px 0px 30px $primary-color;
    box-shadow: 0px 0px 12px $primary-color;

    &:hover {
        transform: scale(1.15);
    }

    &-image {
        height: 30px;
        pointer-events: none;
    }

    &-text {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        font-size: 0.8em;
        text-align: center;
        margin-top: 1rem;
    }
}

.marquee {
    padding: 3rem 0;
}

