@import "../../assets/styles/variables";

.about {
    // min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;


    &__header {
        color: $primary-color;
        // background-color: $secondary-color;
        text-transform: uppercase;
        // padding: 10px 0 10px 10px;
        margin-bottom: 30px;
        font-size: 40px;
        font-size: 2.4em;
        font-style: normal;
        font-weight:320;
    }

    &__texts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

        &-text {
            line-height: 1.6;
            font-size: 1.4rem;
            line-height: 2.8rem;
        }
    }
}

.page__header {
    color: $primary-color;
    // background-color: $secondary-color;
    text-transform: uppercase;
    // padding: 10px 0 10px 10px;
    margin-bottom: 30px;
    font-size: 40px;
    font-size: 2.4em;
    font-style: normal;
    font-weight:320;
}

.page-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 40px;
}