* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

@media (max-width: 992px) {
    .App {
        flex-direction: column;
    }
}

